[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = { extras=["cli"], version="*" }

[dev-packages]
pre-commit = "*"
rope = "*"

[requires]
python_version = "3.6"
