[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
